/* Universal Styles*/

body {
  margin:0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  font-size: 22px;
  opacity: 0.9;
  display: block;
}

div {
  display: block;
}

h2, h4, h5 {
  text-align: center;
}
/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav span{
  display: inline-block;
}

span a {
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  text-decoration: underline;
  margin: 10px;
}

/* Main Content Section */

.container {
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  align-items: center;
}

/* Mission Section */

.blockone {
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url("../images/mission-background.jpg");
  align-items: center;
}

.textone {
  display: block;
  text-align: center;
  width: 100%;
  background-color: black;
}

/* Featured Tea Section */

.blocktwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 1000px;
  margin-bottom: 30px;
}

.texttwo {
  width: 100%;
  padding-top: 40px;
}

.image {
  padding-bottom: 20px;
}

.image img {
  width: 300px;
  height: 200px;
  padding: 0px 15px 0px 15px;
}

.image span {
  display: block;
  text-align: center;
  margin-top: 10px;
}

/* Locations Section */

.blockthree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 500px;
  background-image: url("../images/locations-background.jpg");
}

.squares {
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
}

.square {
  flex-direction: column;
  width: 300px;
  margin: 0 20px;
  text-align: center;
  opacity: 1;
  background-color: black;
  padding: 10px;
}

/* Contact */

.contact {
  height: 200px;
}

/* Footer */

.copyright {
  text-align: left;
  padding-left: 20px;
}
